<div class="footer">
  <div class="nav">
    <a routerLink="faq">FAQ</a>
    <a routerLink="about">About Us</a>
    <a routerLink="products">Products</a>
    <a routerLink="contact">Contact Us</a>
    <a routerLink="news">News</a>
    <a routerLink="account">Account</a>
  </div>

  <div class="social">
    <h1>Join us on social media!</h1>
    <div class="social-buttons">
      <a
        mat-icon-button
        class="social-icon"
        aria-label="icon-button with facebook icon"
        href="https://www.facebook.com/"
      >
        <mat-icon svgIcon="facebook"></mat-icon>
      </a>

      <a
        mat-icon-button
        class="social-icon"
        aria-label="icon-button with instagram icon"
        href="https://www.instagram.com/"
      >
        <mat-icon svgIcon="instagram"></mat-icon>
      </a>

      <a
        mat-icon-button
        class="social-icon"
        aria-label="icon-button with twitter icon"
        href="https://twitter.com/"
      >
        <mat-icon svgIcon="twitter"></mat-icon>
      </a>
    </div>
  </div>
</div>
