<div class="product-details">
  <mat-card>
    <mat-card-header>
      <mat-card-title> Unicorn Farts </mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <div class="product-image">
        <img
          src="../../assets/Images/ai-generated-7731354.jpg"
          alt="Unicorn Farts"
        />
      </div>
      <div class="product-description">
        <p>
          This air captures the whimsical and delightful scent of unicorn farts,
          which is said to smell like a combination of cotton candy, rainbows,
          and glitter. Whether you're a believer in unicorns or just love a good
          laugh, our Unicorn Farts Air is the perfect addition to your
          collection. It's sure to bring a smile to your face and a little bit
          of magic to your day. price
        </p>

        <p>$20.00</p>
      </div>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button class="card-button">Add to Cart</button>
    </mat-card-actions>
  </mat-card>
</div>
