<div class="header">
  <div class="header-text">
    <h1>Learn about our air cultivation process!</h1>
    <a routerLink="news">Learn more</a>
  </div>
</div>

<div class="products-overview">
  <div class="products-about">
    <h1>
      Welcome to Airy Tales, where we specialize in selling the world's most
      unique and exotic air!
    </h1>

    <h3>
      Our products include everything from Unicorn Farts to Zombie Breath, and
      even the vacuum of space! Each jar is filled with fresh, clean air that
      will transport you to your favorite destination.
    </h3>

    <h3>
      Browse our selection of unique air jars and find the perfect one to
      transport you to your happy place!
    </h3>
  </div>

  <div class="products">
    <div class="product-card">
      <mat-card>
        <mat-card-header>
          <mat-card-title>Unicorn Farts</mat-card-title>
        </mat-card-header>
        <div class="card-image">
          <img
            src="../../assets/Images/milan-popovic-YjN1l87BUOk-unsplash.jpg"
            alt="glass jar with air inside"
          />
        </div>
        <mat-card-content>
          <p>
            This air captures the whimsical and delightful scent of unicorn
            farts, which is said to smell like a combination of cotton candy,
            rainbows, and glitter. Whether you're a believer in unicorns or just
            love a good laugh, our Unicorn Farts Air is the perfect addition to
            your collection. It's sure to bring a smile to your face and a
            little bit of magic to your day.
          </p>
        </mat-card-content>
        <mat-card-actions>
          <button mat-button class="card-button" routerLink="products">
            View Product
          </button>
        </mat-card-actions>
      </mat-card>
    </div>

    <div class="product-card">
      <mat-card>
        <mat-card-header>
          <mat-card-title>Space Atmosphere</mat-card-title>
        </mat-card-header>
        <div class="card-image">
          <img
            src="../../assets/Images/jar-7565705.jpg"
            alt="glass jar with air inside"
          />
        </div>
        <mat-card-content>
          <p>
            Embark on a cosmic journey with our Space Air. This air captures the
            emptiness and weightlessness of the universe, giving you a unique
            and rare experience. Whether you're a space enthusiast or just
            curious about the unknown, our Space Air will transport you to the
            vast expanse of the cosmos.
          </p>
        </mat-card-content>
        <mat-card-actions>
          <button mat-button class="card-button" routerLink="products">
            View Product
          </button>
        </mat-card-actions>
      </mat-card>
    </div>

    <div class="product-card">
      <mat-card>
        <mat-card-header>
          <mat-card-title>Zombie Breath</mat-card-title>
        </mat-card-header>
        <div class="card-image">
          <img
            src="../../assets/Images/pexels-nathan-j-hilton-7026665.jpg"
            alt="glass jar with air inside"
          />
        </div>

        <mat-card-content>
          <p>
            Get ready to experience the undead with our Zombie Breath Air. This
            air captures the decaying, putrid scent of zombie breath, giving you
            a taste of the undead. Whether you're a fan of horror movies or just
            love the thrill of the zombie apocalypse, our Zombie Breath Air will
            transport you to a post-apocalyptic world. Just be careful not to
            breathe in too much!
          </p>
        </mat-card-content>
        <mat-card-actions>
          <button mat-button class="card-button" routerLink="products">
            View Product
          </button>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>

  <button mat-stroked-button class="shop-button" routerLink="products">
    Shop All
  </button>
</div>
